<%
    // Função para transformar o nome em PascalCase
    function toPascalCase(str) {
        return str[0].toUpperCase() + str.slice(1).replace(/[-_ ]+(\w)/g, (_, c) => c ? c.toUpperCase() : '');
    }
    // Função para transformar o nome em camelCase
    function toCamelCase(str) {
        return str[0].toLowerCase() + str.slice(1).replace(/[-_ ]+(\w)/g, (_, c) => c ? c.toUpperCase() : '');
    }
    const pascalName = toPascalCase(name);
    const camelName = toCamelCase(name);%>
import {PropsWithChildren} from "react"

interface <%= pascalName %>Props extends PropsWithChildren {
        
}

export function <%= pascalName %>({}: <%= pascalName %>Props) {
    return (
        <div>{children}</div>
      )
}
